{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["react-hot-loader/babel"],
        [
            "@babel/plugin-transform-typescript",
            {
                "allowNamespaces": true
            }
        ],
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
    ]
}
